    <nav class="navbar navbar-opendata">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
              </button>
              <a class="navbar-brand" href="https://opendata.government.bg/"><img src="../assets/img/logockan.png"></a>
          </div>        
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
              <li class="active"><a href="/">Начало</a></li>
          </ul>
        </div>
        </div>
    </nav>